
  .myButton {
    text-align: center; 
    padding:4px 20px;
    font-size: 16px;
    background-color: #393939;
    color:white;
    border-radius: 9999px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    
  }
  
  .myButton:first-child {
    margin-right: 5px;
  }
  
  .myButton:hover {
    background-color: #651651;
  }
  
  .buttons {
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
  }