footer {
   height:75px;
    background-color: #393939;
  
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
  
  footer span {
    vertical-align: middle;
    font-weight:400;
    font-size: 18px;
    color:#fff;
  }

footer nav{
  width:100px;
  display: flex;
  justify-content: space-between;
}

.myContact{
  font-size:30px;
  color:#fff;
}
  