.editPostForm {
    background-color: white;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
  
  }
  
  .editPostForm > * {
    margin-top: 15px;
  }

  input.formInput {
    padding:5px;
  }

  textarea.formInput {
    height:100px;
    padding:5px;
  }
  
  .formInput {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border:1px solid #393939;
  }
  
  .formInput:focus::placeholder {
      color:transparent
  }
  
  .editPost {
    text-align: center;
    padding: 4px 20px;
    font-size: 16px;
    background-color: #393939;
    color: white;
    border-radius: 9999px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }
  
  .editPost:hover {
    background-color: #651651;
  }
  
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(1, 1, 1, 0.5);
  }
  
   .formHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
  } 
  
  
  