@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  
}

a {
  text-decoration: none;
}

button {
  outline: unset;
  border:none;
  cursor: pointer;

}

h1 {
  text-align: center;
}


main {
  padding:10px;
  min-height: calc(100vh - 100px);
}





